<div id="product-details" class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{product.name}}</h1>
      <p class="card-text">{{product.description}}</p>
      <p class="card-text">Categoría: {{product.category}}</p>
      <p class="card-text">Disponibilidad: {{product.availability}}</p>
      <p class="card-text">Precio: {{product.price}}</p>
      <button type="button" class="btn btn-secondary" id="{{_id}}">Agregar al Carrito</button>
    </div>
  </div>
</div>
<script src="/js/script.js"></script>



