<div id="product-list" class="d-flex flex-row flex-wrap">
  {{#each products}}
    <div class="card m-2 mb-10 p-5">
      <div class="card-body">
        <h2 class="card-title">{{name}}</h2>
        <p class="card-text">Categoría: {{category}}</p>
        <p class="card-text">Disponibilidad: {{availability}}</p>
        <p class="card-text">Precio: {{price}}</p>
        <button type="button" class="btn btn-secondary add-to-cart-button" id="{{_id}}">Agregar al Carrito</button>
        <button type="button" class="btn btn-secondary view-details-button" id="{{_id}}">Ver Detalles</button>
      </div>
    </div>
  {{/each}}
</div>



<div id="paginated">
  <p>Page {{ pagination.currentPage }} of {{ pagination.totalPages }}</p>
  
  {{#if pagination.hasPrevPage}}
    <a href="{{ pagination.prevLink }}">Anterior</a>
  {{/if}}
  
  {{#if pagination.hasNextPage}}
    <a href="{{ pagination.nextLink }}">Siguiente</a>
  {{/if}}
</div>
 <script src="/js/script.js"></script>

